pyyaml

# to build proto
grpcio-tools
protoc-gen-connectrpc

# to run API server
connectrpc
fastapi
pyjwt
uvicorn

# to run grpc-based services
connectrpc-reflection
hypercorn

# for storage service
pymongo
sqlalchemy
