[Unit]
Description={SERVICE_NAME}
# Start the service after the network is ready
After=network.target

[Service]
# Command to start your application. Use the script you created or the direct command.
ExecStart={ROOT_DIR}/services/run-service.sh {APP_PATH}
WorkingDirectory={ROOT_DIR}
Restart=always
User=ec2-user
Group=ec2-user

[Install]
# Enable the service for multi-user mode (standard boot process)
WantedBy=multi-user.target